<!-- <h1>Angular</h1> -->
<!-- <prac-rooms></prac-rooms> -->

<!-- <prac-container>
  <prac-rooms></prac-rooms>
  <prac-employee></prac-employee>
  <h3>From ng-container</h3>
</prac-container>
<div #name></div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'">
    <prac-rooms />
  </div>
  <div *ngSwitchDefault>You are not authorized</div>
</div> -->

<!-- <div>
  <ng-template #user> </ng-template>
</div> -->
<!-- 
<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employees'">Employee</a> -->

<prac-app-nav></prac-app-nav>
<!-- <router-outlet></router-outlet> -->
