<!-- <p>Welcome to {{ hotelName }}</p> -->
<prac-header></prac-header>
<prac-header></prac-header>
<prac-header></prac-header>
<prac-header></prac-header>
<div [hidden]="hideRooms">
  <p>No. of rooms available</p>
  <div [innerText]="numberOfRooms"></div>
</div>

<div *ngIf="selectedRooms">
  {{ selectedRooms | json }}
</div>

<button (click)="addRoom()">add Room</button>

<div *ngIf="rooms.availableRooms > 0">
  <prac-rooms-list
    [rooms]="roomsList"
    [title]="title"
    (selectedRooms)="selectsRoom($event)"
  ></prac-rooms-list>
</div>

<button (click)="toggle()">Button</button>

<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">Delete Room</button>
