<p>Welcome to {{ hotelName }}</p>
<div [hidden]="hideRooms">
  <p>No. of rooms available</p>
  <div [innerText]="numberOfRooms"></div>
</div>

<div *ngIf="rooms.availableRooms > 5">
  Rooms List
  <!-- {{ roomsList }} -->
  <table>
    <tr>
      <th>roomType</th>
      <th>amenities</th>
      <th>price</th>
      <th>checkinTime</th>
      <th>checkoutTime</th>
    </tr>
    <tr
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let room of roomsList; let e = even; let o = odd"
    >
      <td>{{ e ? "Even" : "Odd" }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.checkinTime }}</td>
      <td>{{ room.checkoutTime }}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Button</button>
